@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #81B86D;
    background: linear-gradient(315deg, #81B86D, #299FC1);
    overflow-x: hidden;
}

#imagemLogo img {
    position: absolute;
    top: 15%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.animacao {
    animation: flutuar 3s infinite ease-in-out;
}

@keyframes flutuar {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(0px ,-10px);
    }

    100% {
        transform: translate(0);
    }
}

.imagem {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 30px;
}

.card {
    width: 300px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto; 
    border-radius: 20px;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.8s ease-in-out;
}

.card img:hover {
    transform: scale(1.2);
}

.card h2{
    font-size: 2rem;
    padding: 20px;
}

.card p {
    background-color: rgba(128, 128, 128, 0.2);
    transition: 0.5s ease-in-out;
    border-radius: 20px;
}

.card p:hover {
    background-color: rgba(128, 128, 128, 0.5);
    transition: 0.5s ease-in-out;

}

header h1{
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.70);
    color: #EEE5E5;
    text-align: center;
    padding: 20px;
    position: static;
    transition: 0.5s ease-in;
    position: fixed;
    width: 100%;
    isolation: isolate;
    z-index: 2;

}

header h1:hover {
    font-size: 40px;
    transition: 0.5s ease-in-out;
    color: #6e7cca;
}

header p {
    text-align: center;
    padding: 15px;
    color: #EEE5E5;
    padding-top: 400px;
    font-size: 25px;
}

main h2{
    text-align: center;
    color: #EEE5E5;
    padding-top: 80px;
}

main h2

main p {
    text-align: center;
}

footer h2{
    text-align: center;
    color: #EEE5E5;
    padding: 20px;
}

.contatos{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
}