@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #81B86D;
    background: linear-gradient(315deg, #81B86D, #299FC1);
    overflow-x: hidden;
}

#imagemLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px; 
}

#imagemLogo img {
    position: static; 
    max-width: 80%;  
    height: auto;
}


.animacao {
    animation: flutuar 3s infinite ease-in-out;
}

@keyframes flutuar {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(0px ,-10px);
    }

    100% {
        transform: translate(0);
    }
}

.imagem {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 10px;
}

.card {
    width: 300px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto; 
    border-radius: 20px;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.8s ease-in-out;
}

.card img:hover {
    transform: scale(1.2);
}

.card h2{
    font-size: 2rem;
    padding: 20px;
}

.card p {
    background-color: rgba(128, 128, 128, 0.2);
    transition: 0.5s ease-in-out;
    border-radius: 20px;
}

.card p:hover {
    background-color: rgba(128, 128, 128, 0.5);
    transition: 0.5s ease-in-out;
    transform: scale(1.1);

}

header h1{
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.70);
    color: #EEE5E5;
    text-align: center;
    padding: 20px;
    position: static;
    transition: 0.5s ease-in;
    position: fixed;
    width: 100%;
    isolation: isolate;
    z-index: 2;

}

header h1:hover {
    font-size: 40px;
    transition: 0.5s ease-in-out;
    color: #6e7cca;
}

header p {
    text-align: center;
    padding: 15px;
    color: #EEE5E5;
    padding-top: 100px;
    font-size: 25px;
}

main h2{
    text-align: center;
    color: #EEE5E5;
    padding-top:20px;
}

main p {
    text-align: center;
}

footer h2{
    text-align: center;
    color: #EEE5E5;
    padding: 20px;
}

.contatos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px 10px;
    color: white;
    text-align: left;
    gap: 20px;
}

.coluna {
    flex: 1;
    min-width: 200px;
}

.coluna p {
    margin-bottom: 10px;
}

.coluna a {
    color: #EEE5E5;
    text-decoration: none;
    transition: color 0.3s ease;
}

.coluna a:hover {
    color: #6e7cca;
}


